<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

    <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="INFO"/>
        <param name="File" value="logs/iracing-sheduler.log"/>
        <param name="immediateFlush" value="true"/>
        <param name="append" value="false"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c{1}] %m %n"/>
        </layout>
    </appender>

    <logger name="log4j.rootLogger" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="fileAppender"/>
    </logger>

</log4j:configuration>